#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

#define MAIN_LAYERS DEFAULT

/*         
            Left Hand          Joystck        Right Hand
  ╭───────────────────────────┬───────┬───────────────────────────╮
  │  LN5 LN4 LN3 LN2 LN1 LN0  │  RJU  │  RN0 RN1 RN2 RN3 RN4 RN5  │
  │  LT5 LT4 LT3 LT2 LT1 LT0  │  RJD  │  RT0 RT1 RT2 RT3 RT4 RT5  │
  │  LM5 LM4 LM3 LM2 LM1 LM0  │  RJL  │  RM0 RM1 RM2 RM3 RM4 RM5  │
  │  LB5 LB4 LB3 LB2 LB1 LB0  │  RJR  │  RB0 RB1 RB2 RB3 RB4 RB5  │
  ╰┬──H──────────────────────┬┼───────┼┬─────────────────────┬────╯
   │ LEC LH4 LH3 LH2 LH1 LH0 ││  RJC  ││ RH0 RH1 RH2 RH3 RH4 │
   ╰──H──────────────────────╯╰───────╯╰─────────────────────╯
*/

// ZMK_COMBO(quote, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(sk_nav_app, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(sk_nav_sys, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(tab,    &kp TAB,    LB3 LB2,     DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(enter,  &kp ENTER,  LB2 LB1,     DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

#define SHIFT_MORPH_LAYERS DEFAULT
// #define SHIFT_MORPH(NAME, POSITION, BINDING1, BINDING2) \
//    ZMK_MOD_MORPH(NAME##_morph, bindings = <BINDING1>, <BINDING2>; mods = <(MOD_LSFT|MOD_RSFT)>;) \
//    ZMK_COMBO(NAME, &NAME##_morph, POSITION, 0, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

ZMK_MOD_MORPH(dollar_amp_morph, bindings = <&kp DOLLAR>, <&kp AMPERSAND>; mods = <(MOD_LSFT|MOD_RSFT)>;)
ZMK_COMBO(dollar_amp,  &dollar_amp_morph,  LT3 LM3,     DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

// SHIFT_MORPH(dquotes_caret, LT2 LM2, &kp DOUBLE_QUOTES, &kp CARET);
// ZMK_MOD_MORPH(dquotes_caret_morph, bindings = <&kp DOUBLE_QUOTES>, <&kp CARET>; mods = <(MOD_LSFT|MOD_RSFT)>;)
// ZMK_COMBO(dquotes_caret, &dquotes_caret_morph, LT2 LM2, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

#define SHIFT_MORPH(NAME, POSITION, BINDING1, BINDING2) \
   ZMK_MOD_MORPH(NAME##_morph, bindings = <&kp BINDING1>, <&kp BINDING2>; mods = <(MOD_LSFT|MOD_RSFT)>;) \
   ZMK_COMBO(NAME, &NAME##_morph, POSITION, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

SHIFT_MORPH(dquotes_caret, LT2 LM2, DOUBLE_QUOTES, CARET)