#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

#define MAIN_LAYERS DEFAULT

/*         
            Left Hand          Joystck        Right Hand
  ╭───────────────────────────┬───────┬───────────────────────────╮
  │  LN5 LN4 LN3 LN2 LN1 LN0  │  RJU  │  RN0 RN1 RN2 RN3 RN4 RN5  │
  │  LT5 LT4 LT3 LT2 LT1 LT0  │  RJD  │  RT0 RT1 RT2 RT3 RT4 RT5  │
  │  LM5 LM4 LM3 LM2 LM1 LM0  │  RJL  │  RM0 RM1 RM2 RM3 RM4 RM5  │
  │  LB5 LB4 LB3 LB2 LB1 LB0  │  RJR  │  RB0 RB1 RB2 RB3 RB4 RB5  │
  ╰┬──H──────────────────────┬┼───────┼┬─────────────────────┬────╯
   │ LEC LH4 LH3 LH2 LH1 LH0 ││  RJC  ││ RH0 RH1 RH2 RH3 RH4 │
   ╰──H──────────────────────╯╰───────╯╰─────────────────────╯
*/

// ZMK_COMBO(quote, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(sk_nav_app, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(sk_nav_sys, &kp APOSTROPHE, LM3 LM2, DEFAULT, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// HORIZONTAL COMBOS
ZMK_COMBO(tab,    &kp TAB,    LB3 LB2,     DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)
ZMK_COMBO(enter,  &kp ENTER,  LB2 LB1,     DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

// SYMBOLS (VERTICAL) COMBOS
#define SHIFT_MORPH_COMBO(NAME, BINDING1, BINDING2, POSITION) \
   ZMK_MOD_MORPH(NAME##_morph, bindings = <&kp BINDING1>, <&kp BINDING2>; mods = <(MOD_LSFT|MOD_RSFT)>;) \
   ZMK_COMBO(NAME, &NAME##_morph, POSITION, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_FAST)

SHIFT_MORPH_COMBO(dquotes_caret,    DOUBLE_QUOTES,       CARET,         LT3 LM3)
SHIFT_MORPH_COMBO(dollar_amp,       DOLLAR,              AMPERSAND,     LT2 LM2)
SHIFT_MORPH_COMBO(semicolon,        SEMICOLON,           SEMICOLON,     LT1 LM1)
SHIFT_MORPH_COMBO(hash_at,          HASH,                AT_SIGN,       LT0 LM0)
SHIFT_MORPH_COMBO(question_pipe,    QUESTION,            PIPE,          LM3 LB3)
SHIFT_MORPH_COMBO(excl_percent,     EXCLAMATION,         PERCENT,       LM2 LB2)
SHIFT_MORPH_COMBO(equal,            EQUAL,               EQUAL,         LM1 LB1)
SHIFT_MORPH_COMBO(plus,             PLUS,                PLUS,          LM0 LB0)
SHIFT_MORPH_COMBO(tilde,            TILDE,               TILDE,         RT0 RM0)
SHIFT_MORPH_COMBO(colon,            COLON,               COLON,         RT1 RM1)
SHIFT_MORPH_COMBO(lbrc_lt,          LEFT_BRACKET,        LESS_THAN,     RT2 RM2)
SHIFT_MORPH_COMBO(squote_grave,     SINGLE_QUOTE,        GRAVE,         RT3 RM3)
// TODO: leader key spot RM0 RB0
SHIFT_MORPH_COMBO(lpar_lbrc,        LEFT_PARENTHESIS,    LEFT_BRACE,    RM1 RB1)
SHIFT_MORPH_COMBO(rbrc_gt,          RIGHT_BRACKET,       GREATER_THAN,  RM2 RB2)
SHIFT_MORPH_COMBO(rpar_rbrc,        RIGHT_PARENTHESIS,   RIGHT_BRACE,   RM3 RB3)